<div class="h-100 w-100 d-flex flex-column animation">

    <div class="titulo p-2 pt-4" style="display: flex; align-items: center;">
        <img src="assets/icons/home.svg" alt="" class="img-menu d-none" style="width: 2rem;">
        <div style="font-size: 19px; padding-left: 0.5rem; font-weight: 700; ">Sobre</div>
    </div>

    <div style="flex:1;" class="h-100 mt-2 d-flex align-items-center">

        <div class="boxitens scroll-hidden" style="height: 80%;">
            <div class="boxitem">
                <img src="assets/ic/bem-vindo.svg" alt="">
                <p>Um breve resumo sobre PSP!</p>
            </div>

            <div class="boxitem">
                <img src="assets/ic/lost.svg" alt="">
                <p>Mas afinal, o que é o psp?</p>
            </div>

            <div class="boxitem">
                <div class="p-3" style="text-align: justify;">
                    Personal Software Process (PSP) é um processo de desenvolvimento de software projetado para ser
                    utilizado
                    por engenheiros de software para a elaboração de projetos individuais desenvolvido por Watts
                    Humphrey.
                </div>
            </div>

            <div class="boxitem">
                <div class="p-3" >
                    Os objetivos principais do PSP são:
                    <br /><br />● Melhorar a estimativa de prazo e esforço para o desenvolvimento de um módulo de software ou
                    programa;
                    <br />● Melhorar o planejamento e o acompanhamento de cronogramas;
                    <br />● Evitar o excesso de compromissos;
                    <br />● Criar um comprometimento pessoal com a qualidade e com a melhoria contínua do processo;
                </div>
            </div>

            <div class="boxitem">
                <img src="assets/ic/exploring.svg" alt="">
                <p>Ainda perdido? <br/> Calma, vamos te ajudar em cada passo!</p>
            </div>

            <div class="boxitem">
                <img src="assets/ic/app_data.svg" alt="">
                <p>Mas como vamos te ajudar?<br/>
                Desenvolvemos listas de passos para você seguir com base no psp!</p>
            </div>

            <div class="boxitem">
                <img src="assets/ic/engineering_team.svg" alt="">
                <p>Bora lá?<br/>
                Clique no icone de home para começar já!</p>
            </div>

        </div>

    </div>



</div>