<div class="h-100 d-flex align-items-center justify-content-center flex-column animation">
    
    <h4>Bem vindo!</h4>
    <p>Vamos começar aqui nossa jornada juntos!</p>
    <div class="boxitens scroll-hidden">
        <div class="boxitem">
            <img src="assets/ic/bem-vindo.svg" alt="">
            <p>Parabéns! Seja muito bem vindo(a)!</p>
        </div>

        <div class="boxitem">
            <img src="assets/ic/hello.svg" alt="">
            <p>Aqui você pode organizar seus projetos!</p>
        </div>

        <div class="boxitem">
            <img src="assets/ic/web-devices.svg" alt="">
            <p>Vamos te ajudar usando o PSP!</p>
        </div>

        <div class="boxitem">
            <img src="assets/ic/exploring.svg" alt="">
            <p>Está pronto para essa aventura?</p>
        </div>
        
    </div>
    <button type="button" class="btn btn-black mt-3"  [routerLink]="['/home']">Começar</button>
</div>